{{ partial "header.html" . }}
<div class="row">
  <div class="col-sm-10 doc-main">
    <main role="main">
      <article>
        <h1 class="doc-entry-title">User's Guide overview</h1>
        <section>
        <p>The User's Guide contains information on how to operate Impresario
           in daily use.
        </p>
        <p>It gives a detailed introduction in its purposes, explains how to
           install and configure Impresario, and finally provides information
           about how to use all built-in features in the most efficient way.
        </p>
        <p>The following chapters are available:
        </p>
        <ol>
        {{ range .Data.Pages }}
          <li>
            <a href="{{ .RelPermalink }}">
            {{ .Title }}
            </a>
            <p>
            {{ .Description }}
            </p>
          </li>
        {{ end }}
        </ol>
        </section>
      </article>
    </main>
  </div>
</div>
{{ partial "footer.html" . }}